'indecision-app/node_modules/.bin/babylon' 
'indecision-app/node_modules/.bin/babylon' 
'indecision-app/node_modules/.bin/babylon' 
'indecision-app/node_modules/.bin/babylon' 
'indecision-app/node_modules/.bin/babylon.cmd' 
'indecision-app/node_modules/.bin/babylon' 
/indecision-app/node_modules
/indecision-app/package-lock.json
